body {
	margin:0;
	margin-bottom:40px;
	font-family: calibri;
}
a{
  color: #F2187A;
}
h1{
  text-align:center;
  font-size: 60px;
  font-family: 'Sacramento', cursive;
  padding-top:-90px;
  padding-bottom:-100px;
}
h2 {
	margin:15px;
  font-size: 20px;
  padding-bottom:-70px;
}
img{
  display:block;
  margin: 0px auto 5px auto;
  border-radius:10px;
  padding-top: 90px;
  padding-bottom:-100px;
}
.About-Me a{
  text-align:center;
  color:black;
  font-family: 'Sacramento', cursive;
  font-size:40px;
  text-decoration:none;
  padding-top:-40px;
  margin-top:-50px;
}
.About-Me a:hover{
  color: #F2187A;
  cursor:pointer;
}
.txt-center {
	text-align:center;
}

.margin-top-20 {
	margin-top:30px;
}

.banner {
	background:url(DSC_3662.png) no-repeat;
	background-size:cover;
	width:100%;
	position:relative;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
}

.fixed-top {
	position:fixed;
	top:0;
	left:0;
}

.navbar {
	width:100%;
	height:60px;
	background-color:rgba(0,0,0,0.6);
	z-index:9999;
	position: fixed;
	font-family: 'Sacramento', cursive;
}

.navbar-brand {
	color:#FFF;
	line-height:60px;
	margin-left:20px;
	font-weight:700;
	font-style:italic;
	font-size:30px;
}

.container {
	width:100%;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.divider{
  border: 1px #CCCCCC solid;
  margin-top:20px;
  margin-bottom: 20px;
}
