/*********** GLOBAL STYLES ***********/

	body,
	html {
		height: 100%;
		margin: 0;
		padding: 0;
	}

#map-canvas {
		height: 80%;

}
li{
	list-style: none;
}
img{
	width:100%;
}
	/*********** LAYOUT ***********/

	header {
		height:8%;
		width:100%;
	}

	section {
		height:85%;
	}

	aside {
		height:85%;
		background:#F5F5F5;
	}

	footer {
		height:7%;
		width:100%
	}

	/*********** OTHER STYLES ***********/

.right{
	padding: 20px;
	height:100%;
	overflow: hidden;
}
.film-list{
	padding:0;
}
.footer-text{
	text-align:center;
}

	/*********** MEDIA QUERIES ***********/
